<footer style="margin-top: 1em; " >
   
    <form class="" action="">
        

        <h5 class="text-center text-muted">Suscribite a nuestro newsletter!</h5>
<div class="d-flex justifi-content-center flex-wrap  mt-3">
            
<!-- user email input -->
<div>   
<input class="form-control mr-4" id="subscribe_input" name="subscribe_input"  style="margin-bottom: 1em; margin-right: 0.2em; width: 45vw;" type="text" placeholder="Ingresa tu email">
</div>   
<!-- /user email input -->

<!-- Btn  -->
<div class="d-flex align-items-center">
<input class=" btn btn-secondary btn-sm pl-3  " class="align-self-center"type="submit" value="Suscribirme!">
</div>
<!--/ Btn  -->

</div>

</form>

    <div class="flex_property_config ">

       <!-- Links -->
        <div class="footer_context_container">
            <a class="white_font links justifi-content-center nounderline" href="/info#privacidad">Políticas de Privacidad</a>
            <a class="white_font links justifi-content-center nounderline " href="/info#quienes_somos">Quienes somos</a>
            <a class="white_font links justifi-content-center nounderline" href="/contact">Contactanos</a>
            <a class="white_font links justifi-content-center nounderline" href="/info#garantias">Garantías</a>
        </div>
       <!-- /Links -->


        <div class="footer_context_container ">
           
<!-- instagram -->
           <a href="https://www.instagram.com/ramedecco/?hl=es-la" class="links justifi-content-center nounderline" style="margin-top: 2.4em;" >
            <i class="fab fa-instagram white_font"></i><p class="white_font" >Instagram</p>
        </a>
<!-- /instagram -->

<!-- whatssapp -->
<a href="https://web.whatsapp.com/" class="links justifi-content-center nounderline">
    <i class="fab fa-whatsapp white_font"></i><p class="white_font" >Whatsapp</p>
</a>
<!-- /whatssapp -->

<a href="https://www.facebook.com/ramedecoo/" class="links justifi-content-center nounderline">
                <i class="fab fa-facebook white_font"></i><p class="white_font" >Facebook</p>
            </a>
           
            <a href="https://twitter.com/?lang=es" class="links justifi-content-center nounderline">
                <i class="fab fa-twitter white_font"></i><p class="white_font" >Twitter</p>
            </a>
           
        </div>
    </div>
</footer>