<footer style="margin-top: 1em;">
    <form class="flex_property_config" action="">
        <div class="unified" style="justify-self: right;">
        <label for="subscribe_input" class="white_font " style=" font-size: larger; margin-right: 20px; margin-bottom: 1.5em;">Suscribite a nuestro Newsletter</label>
        <input class="unified_inputs" id="subscribe_input" name="subscribe_input"  style="margin-bottom: 1em; margin-right: 0.2em;" type="text" placeholder="Ingrese su email">
            <input class="unified_inputs greend_background white_font" type="submit" value="Suscribirme!">
        </div>
    </form>
    <div class="flex_property_config">

        <div class="footer_context_container">
            <a class="white_font links justifi-content-center" href="/info#privacidad">Políticas de Privacidad</a>
            <a class="white_font links justifi-content-center " href="/info#quienes_somos">Quienes somos</a>
            <a class="white_font links justifi-content-center" href="/contact">Contactanos</a>
            <a class="white_font links justifi-content-center" href="/info#garantias">Garantías</a>
        </div>


        <div class="footer_context_container">
           
<!-- instagram -->
           <a href="https://www.instagram.com/ramedecco/?hl=es-la" class="links justifi-content-center" style="margin-top: 2.4em;" >
            <i class="fab fa-instagram white_font"></i><p class="white_font" >Instagram</p>
        </a>
<!-- /instagram -->

<!-- whatssapp -->
<a href="https://web.whatsapp.com/" class="links justifi-content-center">
    <i class="fab fa-whatsapp white_font"></i><p class="white_font" >Whatsapp</p>
</a>
<!-- /whatssapp -->

<a href="https://www.facebook.com/ramedecoo/" class="links justifi-content-center">
                <i class="fab fa-facebook white_font"></i><p class="white_font" >Facebook</p>
            </a>
           
            <a href="https://twitter.com/?lang=es" class="links justifi-content-center">
                <i class="fab fa-twitter white_font"></i><p class="white_font" >Twitter</p>
            </a>
           
        </div>
    </div>
</footer>