<!DOCTYPE html>
<html>
  <head>
    <title>Carrito</title>
  <link rel="stylesheet" href="../CSS/style.css">
  <!-- Favicon -->
	<link rel = "icon" href="../images/white-logo.jpg" type = "image/x-icon"> 
<!-- Favicon -->

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css" />
  <link href="https://fonts.googleapis.com/css2?family=Slabo+27px&display=swap" rel="stylesheet">
 


    <!-- boostwatch css -->
    <link rel="stylesheet" href="../../CSS/bootstrap.min.css">
    <!-- /boostwatch css -->

    <!-- boostsrap 3.2 css -->
    <link rel="stylesheet" href="../../CSS/bootstrap.minv3.2.css">
    <!-- /boostsrap 3.2 css -->

   </head>
  <body>
    <!-- navbar -->
    <%- include('parcials/header.ejs',{'user':user}) %> 
 
    <div class="main-body">
        <div class="card">
            <div class="card-body mt-6 mb-6">
     

<h1 class="text-center">Tu carrito esta vacío, ¡agregá productos!</h4>
<a class="mt-4 justifi-content-center" href="/">
<button type="button" class="btn btn-primary btn-sm">Continuar con la compra</button>
</a>

    </div>    
        </div></div>






                    
        
<!-- partial of the footer-->
    <%- include('parcials/footer.ejs') %>

  
    <!-- Botstrap js -->
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <!-- /Botstrap js -->
    </body>
    </html>