<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="CSS/style.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Slabo+27px&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous" />
    <title>Ramé Deco</title>

    <link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">

<!-- web description -->
<meta name="description" content="Sitio web dedicado a la venta de articulos para tu primer hogar">
<!-- /web description -->

	<link rel = "icon" href="../images/white-logo.jpeg" type = "image/x-icon"> 

</head>

<body class="page_background_color">
    <%- include('parcials/header.ejs',{'user':user}) %> 

<!-- Main image -->








<div class="carousel fade-carousel slide" data-ride="carousel" data-interval="4000" id="bs-carousel">
    <!-- Overlay -->
    <div class="overlay"></div>
  
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#bs-carousel" data-slide-to="0" class="active"></li>
      <li data-target="#bs-carousel" data-slide-to="1"></li>
      <li data-target="#bs-carousel" data-slide-to="2"></li>
    </ol>
    
    <!-- Wrapper for slides -->
    <div class="carousel-inner">
     
     <!-- Bedrom main image -->
        <div class="item slides active">
        <div class="slide-1"></div>
        <div class="hero">
          <hgroup>
              <h1>Dormitorios</h1> 
         </hgroup>
      <a href="/products/categories/2" class="categoriesHref">
          <button class="btn btn-hero btn-lg" role="button">Ver más </button>
      </a>
        </div>
      </div>
     <!-- Bedrom main image -->


     <!-- Interior main image -->
      <div class="item slides">
        <div class="slide-2"></div>
        <div class="hero">        
          <hgroup>
              <h1>Interiores</h1>        
              <h3>Disfruta de renovar el interior de tu hogar con nuestros nuevos articuloss</h3>
          </hgroup>      
      <a href="/products/categories/4" class="categoriesHref">
          <button class="btn btn-hero btn-lg" role="button">Ver más </button>
      </a>
        </div>
      </div>
     <!-- Interior main image -->


<!-- Accesories main image -->
      <div class="item slides">
        <div class="slide-3"></div>
        <div class="hero">        
          <hgroup>
              <h1>Accesorios</h1>        
              <h3>Nueva linea de accesorios para decorar tu hogar</h3>
          </hgroup>
      <a href="/products/categories/1">
          <button class="btn btn-hero btn-lg" role="button">Ver más </button>
      </a>
        </div>
      </div>
<!-- Accesories main image -->


    </div> 
  </div>






<!-- .Main image -->

    <main  class="page_background_color">


<!--  Products -->
        <section class="section_products">
            <h3 class="section_tittle ">Productos</h3>
            <div class="flex_property_config">
            <% for (const product of products) {%> 
                <%- include('parcials/product.ejs',{'product':product}) %>      
            <%} %> 
        </div>
        </section>

<!--  /Products -->


<!--  Decorated products -->

        <section class="section_products">
            <h3 class="section_tittle text-center">Ambientes Decorados</h3>
            <div class="flex_property_config">
                <% for (const scene of scenes) {%> 
                    <%- include('parcials/scene.ejs',{'scene':scene}) %>      
                <%} %> 
        </div>            
        </section>
<!--  /Decorated products -->
      

        <section class="menu_container">
            <div class="menu_option_container d-flex justify-content-center">
               <a href="/products/categories/1" class="categoriesHref">
                <i class="fas fa-coffee green_font "></i>
                <p  class="menu_option_name">Accesorios</p>
            </a>
            </div>
            <div class="menu_option_container d-flex justify-content-center" >
               <a href="/products/categories/2" class="categoriesHref">
                <i class="fas fa-bed green_font"></i>
                <p class="menu_option_name" style>Dormitorios</p>
               </a>
            </div>
            <div class="menu_option_container d-flex justify-content-center" >
               <a href="/products/categories/3" class="categoriesHref">
                <i class="fas fa-umbrella-beach green_font"></i>
                <p class="menu_option_name">Exteriores</p>
                </a>
            </div>
            <div class="menu_option_container d-flex justify-content-center">
               <a href="/products/categories/4" class="categoriesHref">
                <i class="fas fa-couch green_font"></i>
                <p class="menu_option_name">Interiores</p>
               </a>
            </div>
            <div class="menu_option_container d-flex justify-content-center">
               <a href="/products/categories/5" class="categoriesHref">

                <i class="fas fa-bath green_font"></i>
                <p class="menu_option_name">Baño</p>
            </div>
            <div class="menu_option_container d-flex justify-content-center">
                <a href="/products/categories/6" class="categoriesHref">
                <i class="fas fa-chair green_font "></i>
                <p class="menu_option_name">Living</p>
                </a>
            </div>
            <div class="menu_option_container d-flex justify-content-center">
                <a href="/products/categories/7" class="categoriesHref">
                <i class="fas fa-desktop green_font"></i>
                <p class="menu_option_name">Oficina</p>
                </a>
            </div>
            <div class="menu_option_container d-flex justify-content-center">
               <a href="/products/categories/8" class="categoriesHref">
                <i class="fas fa-tags green_font"></i>
                <p class="menu_option_name">Ofertas</p>
               </a>
            </div>
        </section>
    </main>
    <%- include('parcials/footer.ejs') %>

    <!-- Botstrap js -->

<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  
</body>
</html>