<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   
   <!-- local css -->
    <link rel="stylesheet" href="../CSS/style.css">
   <!-- /local css -->

   <!-- Bootswatch css -->
    <link rel="stylesheet" href="../CSS/bootstrap.min.css">
   <!-- Bootswatch css -->

    <link rel="preconnect" href="https://fonts.gstatic.com">
<!-- Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Slabo+27px&display=swap" rel="stylesheet">
<!-- Fonts -->
   
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css" />
    
    <title>Ingresá</title>

<!-- Favicon -->
<link rel = "icon" href="../images/white-logo.jpg" type = "image/x-icon"> 
<!-- Favicon -->


    
    
   
    
</head>
<body>

    <%- include('parcials/header.ejs',{'user':user}) %> 

  
    <form class="jumbotron loginForm" action="/users/login" method="POST">

        <div class="lr-title">
            <h2 class="text-center mb-3 p-3">Iniciá sesión</h2>
        </div>
          
           
            <!-- div para mostrar errores en js -->
            <div class="userError"></div>
            

         <!-- Shows express validator errors -->
  <% if (typeof errors != 'undefined') { %> 
    <% for (let i =0 ; i < errors.length;i++){ %> 
    <div class="d-flex justify-content-center"> 
    <div class=' w-70 p-1 mb-2  text-center '>
     <%=errors[i].msg%>  </div>
     </div>
     <% } %> 
     <% } %> 

     <!-- /Shows express validator errors -->



    <!-- user -->
    <div class="form-group">
        <div class="justifi-content-center">
<label for="password ml-5 pb-5">  Usuario</label>
        </div>
        <input class="form-control user m-4" type="text" id="username" aria-describedby="emailHelp" name="username" placeholder="Escribe tu nombre de usuario">
      </div>
    <!-- /user -->


<!-- Password -->

<div class="justifi-content-center">
<label for="password ml-5 pb-5">  Contraseña</label>

</div>
      <div class="form-group">
              
        
        <div class="d-flex justify-content-evenly">
        <input class="form-control  m-2  writePassword" style="width: 90vw;"  type="password" id="password" name="password" placeholder="      Escribe tu Contraseña">

        <!-- shows password  -->
        <div class="d-flex align-items-center show-password"><i class="fas fa-eye"></i></div>
        <!-- shows password  -->
    
    </div>

        <!-- Shows error  with the password if it exists-->
        <div class="passwordError"></div>
        <!-- /Shows error  with the password if it exists-->

  


    </div>    
<!-- /Password -->

<!-- Shows error if the user or password isn't found -->
<% if (typeof errrorMessage != 'undefined') { %> 
    <div class="d-flex justify-content-center"> 
    <div style="color: red;"><%=errrorMessage%> </div>
     </div>
     <% } %>
<!-- Shows error if the user or password isn't found -->






   
<!-- Remember me -->
<span class=" pl-3 ml-5 rememberMe mb-4">
<input type="checkbox" name="recordarme" class="form-check-input" value="recordarme"> 
  Recordame!
</span>
    <!-- /Remember me -->

<!-- Login -->
<div class=" loginButton mb-2">
<button class="btn btn-outline-info text-center" type="submit">Ingresar</button>
</div>
<!-- Login -->



<!-- Forget password -->
<div class="forgot-pass-msg text-center">
    <a class="categoriesHref" href="">¿Olvidaste tu contraseña?</a>
</div>
<!-- /Forget password -->


<!-- Home -->
<div class="text-center mb-3">
    <a class="categoriesHref text-center" href="/" >
      <i class="fas fa-store-alt"></i> Seguir comprando
     </a>
 </div>
<!-- /Home -->

<!-- Register -->
<div class="text-center ">
        <a class="categoriesHref" href="/users/register" >
        <i class="fas fa-user-plus"></i> Crear cuenta
        </a>
        </div>
<!-- /Register -->



  </form>

<!-- Footer -->
<%- include('parcials/footer.ejs') %>
<!-- /Footer -->

<!-- Local js -->
<script src="../../js/login.js"></script>
<!-- /Local js -->

</body>
</html>